BACKEND_CORS_ORIGINS = ["http://localhost", "http://localhost:5173", "https://localhost", "https://localhost:5173"]


# Production HOST & PORT
PROD_HOST = "0.0.0.0"
PROD_PORT = 8015

# Development HOST & PORT
DEV_HOST = "localhost"
DEV_PORT = 8015

# Redis HOST & PORT
REDIS_HOST="localhost"
REDIS_PORT=6379